h1 {
    color: Red;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
h2 {
    color: Blue;
    font-family: Georgia;
    font-size: 18px
    text-align: left;
}
h3 {
    color: Blue;
    font-family: Georgia;
    font-size: 18px
    text-align: left;
}
h4 {
    color: Blue;
    font-family: Georgia;
    font-size: 18px
    text-align: left;
}
h5 {
        color: Blue;
    font-family: Georgia;
    font-size: 18px
    text-align: left;
}
h6 {
    color: Blue;
    font-family: Georgia;
    font-size: 18px
    text-align: left;
}

p {
    color: silver;
    text-align: center;
}