html
 body
    {
    font-family: Verdana;
    background-color: Gray;
    padding: 40px;
    }
  h1
    {
    color: Maroon;
    text-transform: uppercase; 
    }
   h3
    {
    color: Maroon;
    } 
   
    
      

    