/*tools*/
.emilio{
    float: right;
    top: 0px;
    right: -90px;
    position: absolute;

}

body{
    background-color: royalblue
}
h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
h3{
    color:white;
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
li {
    color:white;
}
a {
    color: white;
}
